
<table>
<% cfds.forEach ((_cfd, i)=>{%>
			<tr>
			<td width=25%><%=_cfd.name%></td>
			<td width=25%><%=_cfd.value%></td>
			<td width=25%><%=_cfd.consensus%></td>
			<td width=25%><img src="http://www.nasdaq.com/charts/<%=_cfd.name%>_smallrm.jpeg"/></td>
			</tr>
			<%			});%>
			</table>